body{
	 /* background-image: url("/other/pixel-city.gif"); */
	background: url("/other/space.gif");	 
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}

.faq-wrapper{
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    /* position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    width: 50%;
    margin: 3rem auto;
}

.faq{
    padding: 0.5rem;
    margin: 0 5rem 2rem 5rem;
}

.question{
    font-size: 2rem;
    margin: 0 5rem;
}

.answer{
    font-size: 1rem;
    background: #fff;
    border-radius: 3px;
    margin: 0 5rem;
    padding: 0.5rem 0.5rem;
}