#overview{
  background-image: url("products/pictures/angel.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#separate{
  font-family: 'Chelsea Market', cursive;
}

#buy-product{
  background-image: url("other/diablo-gameplay.jpg");
}