#overview{
    background-image: url("/products/pictures/wow.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#separate{
    font-family: 'Satisfy', cursive;
}

#buy-product{
    background-image: url("/other/wow-gameplay.jpg");
} 